<div class="row">
    <div class="col-md-8">
        <h3>PizzaSlice</h3>
    </div>
    <div class="col-md-">
        <p>Login</p>
    </div>
</div>
<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                New Order
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-vertical-stepper linear #stepper>

                <mat-step>
                    <ng-template matStepLabel>
                        Select Pizza
                    </ng-template>
                    <mat-form-field appearance="fill">
                        <mat-label>Toppings</mat-label>
                        <mat-select [formControl]="filterIngredients" [(ngModel)]="filterIngredientsModel" multiple (selectionChange)="filterQuery()">
                            <mat-option *ngFor="let ingredient of allIngredients" [value]="ingredient.id">{{ingredient.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>{{filterPizzaQuery}}</p>
                    <app-pizza [pizzas]="filterQuery()" (selectedP)="onSelectedPizza($event)"></app-pizza>
                    <!--                    <button mat-raised-button color="basic" (click)="pizzaClick($event)" value="capriciosa"><img src='../assets/logo2.jpg' class="img-button"></button>-->
                    <!--                    <button mat-raised-button color="basic" (click)="pizzaClick($event)" value="marg"><img src='../assets/logo2.jpg' class="img-button"></button>-->
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Select Extras</ng-template>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
    </mat-card>
</div>
